body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #0f0f0f;
    color: white;
}

h1 {
    color: #FFD700;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.logo {
    width: 200px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background-color: #FFD700;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
}

.btn:hover {
    background-color: #FF4500;
}

